.primary-blue {
	color: #0866ff;
}

.bg-primary-blue {
	background-color: #0866ff;
}

.cherry {
	.color: #fb3c44;
}

.bg-cherry {
	background-color: #fb3c44;
}
.color-grape {
	color: #7d74ff;
}

.bg-grape {
	background-color: #7d74ff;
}

.color-lemon {
	color: #f9cf00;
}

.bg-lemon {
	background-color: #f9cf00;
}

.color-lime {
	color: #3fbb46;
}

.bg-lime {
	background-color: #3fbb46;
}

.color-pink {
	color: #fa61ba;
}

.bg-pink {
	background-color: #fa61ba;
}

.color-teal {
	color: #14b898;
}

.bg-teal {
	background-color: #14b898;
}

.color-blue-link {
	color: #0064d1;
}

.bg-blue-link {
	background-color: #0064d1;
}

.dark-overlay {
	.color: rgba(0, 0, 0, 0.4);
}

.bg-dark-overlay {
	background-color: rgba(0, 0, 0, 0.4);
}

.light-overlay {
	.color: rgba(255, 255, 255, 0.4);
}

.bg-light-overlay {
	background-color: rgba(255, 255, 255, 0.4);
}

.dark {
	color: #1c1c1d! !important;
}

.bg-dark {
	background-color: #1c1c1d! !important;
}

.secondary-icon {
	color: #b0b3b8;
}

.bg-secondary-icon {
	background-color: #b0b3b8;
}

.icon-bg {
	background-color: rgba(255, 255, 255, 0.1);
}

/* navigation */
nav{
	border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
}
 .search-bar span{
	color: #b0b3b8; !important;
	background-color: rgba(255, 255, 255, 0.1);
	border-right: none;
	border-radius: 50%;
	border: 0;
	padding: 8px;
	
 }

 .search-bar input{
	color: #b0b3b8! !important;
	background-color: rgba(255, 255, 255, 0.1) !important;
	border: none;
	border-radius:50px;
	border-left:none !important;
	margin-left: 0px  !important;
padding: 8px; 
}
.search-bar input:focus {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}
.search-bar input::placeholder{
    color: #b0b3b8 !important;
}
/* middle colomn */
ul{
    list-style-type: none;
}
nav ul{
    display: flex;
}
nav ul li svg{
    color:#b0b3b8 ;
}
.mid-col ul{
    justify-content: space-between;
}
.mid-col ul li {
  padding: 10px 40px;
  border-radius: 10px;
  background-color:rgba(255, 255, 255, 0.1);
  
}
.mid-col ul li :hover{
    background:rgba(255, 255, 255, 0.3);
}
.right-col   img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    
}
.right-col ul {
    justify-content: end;
    gap: 10px;
}
.right-col ul li{
    padding: 10px;
    border-radius: 50px;
    background:rgba(255, 255, 255, 0.1); 
}
.right-col ul li :hover{
    background:rgba(255, 255, 255, 0.3); 
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.col-left-c {
    flex-basis: 25%;
    position: sticky;
    top: 90px;
    align-self: flex-start;
}
.important_link img{
	width: 40px;
	border-radius: 5px;
}
.shortcut_links a img {
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.important_link a,
.shortcut_links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.important_link a img {
    width: 25px;
    margin-right: 15px;
}
.important_link a:last-child {
    color: #1876f2;
}

.important_link {
    border-bottom: 1px solid #ccc;
}


.col-mid-c {
    flex-basis: 47%;
}
.shortcut_links a img {
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.shortcut_links p {
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}
.event {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.event .Left_event {
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event .Left_event span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: #1876f2;
    font-size: 10px;
    padding: 4px 0;
}
.story_gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.story {
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-1.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.story img {
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 0;
    left: 0;
    border: 5px solid #1876f2;
}

.story p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.story2 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-2.png);
}

.story3 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-3.png);
}

.story4 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-4.png);
}

.story5 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-5.png);
}

.story1 img {
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}

.post_container {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}

.user_profile {
    display: flex;
    align-items: center;
}

.user_profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user_profile p {
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}

.user_profile small {
    font-size: 12px;
}

.post_input_container {
    padding-left: 55px;
    padding-top: 20px;
}

.post_input_container input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    outline: none;
    margin-bottom: -330000000px;
    resize: none;
}

.add_post_link {
    display: flex;
    margin-top: -20px;
}

.add_post_link a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}

.add_post_link a img {
    width: 20px;
    margin-right: 10px;
}

.post_container {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}

.user_profile span {
    font-size: 13px;
    color: #9a9a9a;
}

.post_text {
    color: #9a9a9a;
    font-size: 15px;
    margin: 15px 0;
}

.post_text span {
    color: #626262;
    font-weight: 500;
}

.post_text a {
    color: #1876f2;
    text-decoration: none;
}

.post_img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.post_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post_row .activity_icon div img {
    width: 18px;
    margin-right: 10px;
}

.post_row .activity_icon div {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.post_profile_icon {
    display: flex;
    align-items: center;
}

.post_profile_icon img {
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.post_row a {
    color: #9a9a9a;
}

.our_btn {
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #626262;
    background: transparent;
    border-radius: 4px;
}

footer {
    text-align: center;
    color: #9a9a9a;
    padding: 40px 0 40px;
    font-size: 16px;
}

dark_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.3s, background-color 0.5s;
}

#dark_btn span {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}

.dark_btn_on {
    margin-left: 23px;
    background-color: #000;
}


.col-right-c{
    background-color: #fff;
    flex-basis: 25%;
    padding: 20px;
    height: 89vh;
    border-radius: 4px;
    color: #626262;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}
.online_icon {
    position: relative;
}

.online_icon::after {
    content: ' ';
    width: 7px;
    height: 7px;
    background-color: #41db51;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 0;
    right: 0;
}
.sider_bar_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.right_sidebar h4 {
    font-weight: 600;
    font-size: 16px;
}

.sider_bar_title a {
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}
.online_list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online_list .online_icon img {
    width: 40px;
    border-radius: 50%;
}

.online_list .online_icon {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.event .Right_event p {
    font-size: 12px;
}

.event .Right_event a {
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}

.advert_side_bar {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}


